<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <pages enableSessionState="true" />
    <sessionState timeout="2880" mode="InProc" cookieless="false" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2"></compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="25000" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <anonymousIdentification enabled="true" />
    <authentication mode="Forms">
      <forms name="MYWEBAPP.ASPXAUTH" loginUrl="Login.aspx" slidingExpiration="true" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" protection="All" path="/" timeout="2880" defaultUrl="Login.aspx" />
    </authentication>
    <!--<authorization>
      <allow users="*" />
    </authorization>-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="QHSEConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" minRequiredNonalphanumericCharacters="0" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="QHSEConnectionString" applicationName="/" />
      </providers>
      <properties>
        <add allowAnonymous="true" defaultValue="" name="dept" readOnly="false" serializeAs="String" type="System.String" />
        <add allowAnonymous="true" defaultValue="" name="role" readOnly="false" serializeAs="String" type="System.String" />
        <add allowAnonymous="true" defaultValue="" name="name" readOnly="false" serializeAs="String" type="System.String" />
        <add allowAnonymous="true" defaultValue="" name="username" readOnly="false" serializeAs="String" type="System.String" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="QHSEConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--<location path="registertest.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="Admin">
    <system.web>
      <authorization>
        <!-- Order and case are important below -->
        <allow roles="Admin" />
        <allow roles="Sub-Admin" />
        <deny users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/ManageDepartments.aspx">
    <system.web>
      <authorization>
        <deny roles="Sub-Admin" />
      </authorization>
    </system.web>
  </location>
  <location path="Users">
    <system.web>
      <authorization>
        <allow roles="User" />
        <deny roles="Admin" />
        <deny roles="Sub-Admin" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="data source=(local);Initial Catalog=QHSE;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="QHSEConnectionString" connectionString="Data Source=(local);Initial Catalog=QHSE;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QHSEEntities" connectionString="metadata=res://*/Model.QHSE.csdl|res://*/Model.QHSE.ssdl|res://*/Model.QHSE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=QHSE;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="QHSEEntities"
  connectionString="metadata=res://*/Model.QHSE.csdl|res://*/Model.QHSE.ssdl|res://*/Model.QHSE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL6002.SmarterASP.NET;Initial Catalog=DB_A2DBEA_QHSE;integrated security=False;User Id=DB_A2DBEA_QHSE_admin;Password=qhsebollore1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
  providerName="System.Data.EntityClient"/>
    <add name="LocalSqlServer" connectionString="Data Source=SQL6003.SmarterASP.NET;Initial Catalog=DB_A2DBEA_QHSE;User Id=DB_A2DBEA_QHSE_admin;Password=qhsebollore1;integrated security=False" providerName="System.Data.SqlClient" />
    <add name="QHSEConnectionString"
      connectionString="Data Source=SQL6002.SmarterASP.NET;Initial Catalog=DB_A2DBEA_QHSE;User Id=DB_A2DBEA_QHSE_admin;Password=qhsebollore1;Integrated Security=False;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>